.carry .parent{
    height: 8rem;
    width: 15rem;
    background: #00A3FF;
    box-shadow:6px 5px 7px rgb(255 255 255 / 25%);
}
.xss .container .text,
.xss .container .text2
{
  
color: #fff;
}
.SearchIcon{
  right: 1%;
}
.textbox{
  font-size: 200px;
  color: #1D0D51;
}


@media (max-width: 768px) {
  .xss form{
    width: 75% !important;
  }
}