.mission .box{
    background-color: #ffffff06;
}
.mission .box .desc{
    line-height: 1.8;
}
.mission .card{
    background-color: #2b9ce0;
    max-width: 270px;
    transition: var(--main-transition);
    box-shadow: black 3px 8px 42px -20px;
}
.mission .card:hover{
    transform: scale(1.02);
}
.mission .card .card-img-top{
    background-color: var(--main-color);
    width: 60px;
    height: 60px;
    transition: var(--main-transition);
}
.mission .card:hover .card-img-top{
    background-color: var(--main-color) !important;
}
.mission .card .card-body a svg{
    transition: var(--main-transition);
    transform: translateX(3px);
}
.mission .card .card-body a:hover svg{
    transform: translateX(7px);
}
.mission .card .card-body a:hover{
    color: var(--main-color) !important;
}
.mission .card .card-body .card-title{
    color: var(--main-color);
}