.teams .card{
    box-shadow: black 3px 8px 23px -5px;
    max-width: 226px;
    background-color: #00000099;
}
.teams .card:hover{
    transform: scale(1.01);
}
.teams .card img{
    filter: grayscale();
}
.teams .card .card-text{
    font-size: 0.8rem;
}
.teams .card .icons a:hover svg{
    color: white !important;
}
.teams .card .icons svg{
    background-color: var(--main-color);
}
.teams h4{
    background-color: #3ab8ff38;
    padding: 20px;
    border-radius: 5px;
}